body{
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.promotion{
    height: 100%;
    background-color: #FFF8E2;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    word-spacing:10px;
    margin-top:150px ;
}
.login_page{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.login_page > div{
    width: 50%;
    margin: 0px auto;
}


.login_page img{
    width: 225px;
    height: 225px;
    border-radius: 50%;
}
.forgot_pw{
    margin-left: 260px;
}
.login_page button{
    width: 218px;
    height: 69px;
    border-radius: 15px;
    box-shadow: 0 3px 12px #919191;
    border: 0px;
    margin:10px 10px;
}
.login_page a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.signin{
    background-color: #FFFFFF;
   
}
.page_footer{
    margin-top: 50px;
}
.login{ 
    background-color: #FA8873;
}
.login a{
    color: white; 
}
/* 框 */
.dialog{
    border: 5px solid #5D5D71;
    height: 65px;
    position: relative;
    left: 30%;
    top: -50px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 60px;
    background-color:#5D5D71 ;
    color: white;
}
.dialog:before {
    border-color: #5D5D71 transparent transparent;
    border-style: solid solid solid;
    border-width: 20px 20px 20px 20px;
    bottom: -40px;
    /* 必須指定，才能顯示內容 */
    content: "";
    height: 0px;
    left: 125px;
    /* 必須指定，否則會變梯形 */
    position: absolute;
    width: 0px;
}

.dialog:after {
    border-color: #5D5D71 transparent transparent;
    border-style: solid solid solid solid;
    border-width: 20px;
    bottom: -33px;
    /* 必須指定，才能顯示內容 */
    content: "";
    height: 0px;
    left: 125px;
    /* 必須指定，否則會變梯形 */
    position: absolute;
    width: 0px;
}
/* rwd */
@media screen and (max-width:500px){
    .promotion{
        font-size: 14px;
        margin-top: 100px;
    }
    .login_page div{
        width: 80%;
    }
    .dialog{
        left: 8%;
        font-size: 14px;
        width: 260px;
        height: 50px;
        line-height: 40px;
    }
    .dialog:before , .dialog:after{
        left: 100px;
    }
    .forgot_pw{
        margin:30px 0 0 100px;
    }
    .login_page button{
        width: 151px;
        height: 48px;
        margin:10px 10px;
        border: 10px;
    }
    .login_page a{
        font-size: 14px;
    }
    .page_footer{
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }
}