
/* 正文開始 */
.wrap{
    background-color: white!important;
    margin:50px 0px!important;
}

.l_part{
    width: 216px;
    height: 915px;
    background-color: #F6F6F6;
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
}
.l_part input{
    margin: 10px;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: white;
    cursor: pointer;
  
}
.l_part div{
    margin-top:5px ;  
    display: flex;
    align-items: center;
}

.wrap{
    display: flex;
    justify-content: flex-start;
}
.r_part{
    width: 100%;
}
.main_head{
    text-align: center;
}
/* ul */
li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.splide__track {
    width: 80%;
    margin: 0 auto;
}
.splide{
    cursor: pointer;
    margin:20px auto;
    
}
.active-menu {
    font-weight: 800;
    font-size: 24px;
}


.main{
    margin: 50px auto;
    width: 90%;
    min-height: 300px;
    padding: 10px;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 -10px 30px  #F6F6F6;
    /* border: 5px solid #F6F6F6; */
}
.main h4{
    border-bottom: 2px solid black;
    display: inline-block;
    padding:5px;
   margin:50px 0 0 30px;
}

/* .main h4::after{
    content:'';
    display:block;
    width:180px;
    height:3px;
    background:#000;
    margin-top:10px;
} */

.card1{
    width: 370px;
    min-height:520px ;
    background-color: #FAFBFD;
    margin: 30px auto;
    border-radius: 20px!important;
    box-shadow: 0 15px 20px #cacaca;

}
.card1 > svg{
    margin-top: 20px;
}

.card_head{
    width: 90%;
    margin: 20px auto;
}
.card_head img{
    width: 100%;
}
.card_footer{
    display: flex;
    justify-content: space-around;
    margin-top: 30px; 
    
}
.card_footer > button{
    width: 150px;
    padding: 5px 10px;
    margin: 0px 5px 0px 5px!important;
    border-radius: 20px!important;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 15px 20px #BEBEBE;
    display: flex;
    align-items: center;
}
.splide__arrows button{
    width: 32px;
}
.card_footer img{
    width: 20px;
    margin: 0 10px 0 0;

}
.price{
    text-align: right;
    margin:20px 10px 0 0;
}
/* 遮罩 */
.full{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}
.full h5{
    margin:22px;
    font-size: 13px;
}
.del_alert{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin: 25% auto;
    text-align: center;
    z-index: 999;
    opacity: 1;
    box-sizing: content-box;
    font-size: 13px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ans_f{
    width: 70px;
    height: 25px;
    border-radius: 5px!important;
    background-color: white;
    text-align: center;
    border: 0px;
    box-shadow: 0 5px 8px #aaaaaa;
}
.ans_y{
    width: 70px;
    height: 25px;
    border-radius: 5px!important;
    background-color:#FA8873!important;
    text-align: center;
    border: 0px;
    box-shadow: 0 5px 8px #aaaaaa;
}

/* -----------------mobile--------------------- */
.moblie_part{
    margin-top: 120px;
    min-height: calc(100vh - 200px );
}
.head{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.m_card_head{
    display: flex;
    align-items: center;
}
.m_card_head img{
    width: 15px;
    margin-left: 10px;
}
.m_button{
    background-color: #FA8873;
    color: white;
    text-align: center;
    width: 80px;
    min-height: 10px;
    box-shadow:  0 3px 6px;
    border-radius: 5px;
    border: 0;
    padding:1px;
    font-size: 10px;
}
.s_select{
    position: absolute;
    top:43px;
    right: 20px;
    background-color: white;
    box-shadow: 0 6px 12px #000000;
    display: none;
    margin-top: 120px;
}
.s_select label{
    display: flex;
    align-items: center;
    margin: 5px;
}
.s_select input{
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 10%;
    border: 1px solid black;
    margin: 5px;
    

} 
.m_body{
    width: 90%;
    margin: 0px auto;
}
.s_select h6{
    background-color: #F4F4F4;
    padding: 10px 0px 10px 10px;
}
.m_card{
    width: 100%;
    height: 126px;
    box-shadow:0 6px 8px #777777;
    padding: 8px;
    border-radius: 10px;
}
.card_center{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.r_rpart{
    display: flex;
    align-items: flex-end; 
}
.r_rpart img{
    width: 10px;
    margin-right: 10px;
}
.m_rpart{
    display: flex;
    flex-direction: column;  
    align-items: flex-end; 
}

.m_button1{
    min-width: 10px!important;
    height: 25px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px!important;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 15px 20px #BEBEBE;
    display: flex;
    align-items: center;
    font-size: 10px;
   
}

/* rwd */

@media screen and (max-width:500px) {
    .wrap{
        display: block;

    }
    
}
@media screen and (max-width:499px) {
    .wrap{
        display: none;
    }
   
    
}
@media screen and (min-width:400px){
    .moblie_part{
        display: none;
    }
}